ul li{
    display:inline;
    list-style-type: none;
    }
li{
    padding-left: 10px;
    padding-right: 10px;
}
.login{
    float: right;
}
.search{
    padding-right:  80px; 
}
.join{
    padding-right: 80px;
}
a { text-decoration: none} 